<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link type='text/css' rel='stylesheet' href='/css/index.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
 <form action="/sessions/destroy" method="post">
  <button class="btn btn-primary m-5" type="submit" value="Sign out" >Sign out</button>
</form>
</nav>

<h3><%= flash[:notice] %></h3>
<center>
<% if @user %>
  <h4>Welcome <%= @user.email %></h4>
<% end %>
</center>

<center><h1>Recipe Manager</h1></center>

<div id="add-recipe">

<h4>Add a new recipe:</h4>

<form action="/recipes/add" method="post">
<input type="text" name= title size=30 placeholder= "title">
  <input type="text" name= url size=30 placeholder= "url">
  <input type="submit" value="Add Recipe">
</form>

</div>
<br>



<center>
<h3>Recipes</h3>
<% @recipes.each do |recipe|%>
  <a href='<%= recipe.url %>'>
  <h4><%=recipe.title %></h4></a>

<h5>Comments</h5>
<% recipe.comments.each do |comment| %>
    <h6><%= comment.comment %></h6>
  <% end %>


<div id="buttons">
  <form action="/recipes/<%= recipe.id %>/update" method="get">
  <button type="submit" class="btn btn-warning"value="Update" id="Update<%=recipe.title%>" placeholder="Update">Update</button>
</form>

<form action="/recipe/<%=recipe.id%>" method="post">
  <button type="submit" class="btn btn-danger" value="Delete" id="Delete<%=recipe.title%>" placeholder="Delete">Delete</button>
  <input type="hidden" name="_method" value="delete">
</form>

<form action="/recipes/<%= recipe.id %>/addcomments" method="get">
  <button type="submit" class="btn btn-primary" value="Add Comment" id="AddComment<%=recipe.title%>">Add Comment</button>
</form>
</div>


<% end %>
</ul>

</center>


</body>
</html>