<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<form action="/recipes/add" method="post">
<input type="text" name= title size=30 placeholder= "title">
  <input type="text" name= url size=30 placeholder= "url">
  <input type="submit" value="Add Recipe">
</form>

<ul>
<% @recipes.each do |recipe|%>
  <a href='<%= recipe.url %>'>
  <li><%=recipe.title %></li>

  <form action="/recipes/<%= recipe.id %>/update" method="get">
  <input type="submit" value="Update" id="Update<%=recipe.title%>" placeholder="Update">
</form>

<form action="/recipe/<%=recipe.id%>" method="post">
  <input type="submit" value="Delete" id="Delete<%=recipe.title%>" placeholder="Delete">
  <input type="hidden" name="_method" value="delete">
</form>
<% end %>
</ul>

<form action="/" method="get">
  <input type="submit" value="Back" placeholder="Back">
</form>